@charset "UTF-8";
body{
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(210, 180, 140);
    color: black;
    margin-top: 5em;
    margin-bottom: 5em;
}
div#table{
	width: 80%;
	margin: auto;
	margin-top: 2em;
	padding: 0.5em;
	font-size: 1.5em;
	display: table;
	border-collapse: separate;
	border-spacing: 0.5em;
}
div#row{
	display: table-row;
}
div#cell1{
	background-color: rgb(245, 255, 250);
	display: table-cell;
	text-align: right;
	padding: 0.5em;
}
div#cell2, div#cell3, div#cell4, div#cell5{
	background-color: rgb(245, 255, 250);
	display: table-cell;
	text-align: left;
	padding: 0.5em;
}
div#cell5{
	width: 3em;
	background-color: rgb(245, 255, 250);
	border: thin teal solid;
	text-align: center;
}
div#cellHeader1, div#cellHeader2, div#cellHeader3, div#cellHeader4, div#cellHeader, div#cellHeader5{
	display: table-cell;
	text-align: center;
	background-color: rgb(255, 235, 205);
	font-size: 1.5em;
	font-weight: bold;
}
div#cellHeader1{
	width: 10%;
}
div#cellHeader2{
	width: 15%;
}
div#cellHeader3{
	width: 40%;
}
div#cellHeader4{
}
div#cellHeader5{

}
header{
	background-color: rgb(255, 235, 205);
	width: 65%;
	margin: auto;
	border: thin black solid;
	padding-top: 2em;
	padding-bottom: 2em;
}
img{
	margin-top: 5em;
	width: 5%;
}
img#healthRecord{
	margin-top: 0em;
	margin-bottom: -1em;
	width: 80%;
}
img#healthRecord2{
	margin-top: 0em;
	margin-bottom: -1.8em;
	margin-left: 0.3em;
	width: 80%;
}
img#pharmacy{
	width: 75em;
	height: 20em;
	margin-top: 0em;
	position: relative;
	bottom: 0em;
}
a:link {
	color: blue;
}
a:visited {
    color: green;
}
a:hover {
    color: lime;
}
a:active {
    color: blue;
}
a#pharmacist{
	margin-right: 1em;
}
a#healthRecord{
	margin-right: 1em;
}
h1#allPharmacists{
	margin-top: 2em;
}
h1#allPatients{
	margin-top: 2em;
	margin-bottom: -1em;
}
h3#noPatients{
	margin-top: 3em;
}
form{
	width: 65%;
	margin: auto;
	padding: 0em;
	padding-bottom: 2em;
	border: thin solid black;
	background-color: rgb(255, 235, 205);
	margin-top: 5em;
}
div.formRow{
	margin-top: 3em;
	margin-bottom: 3em;
}
input[type=button], input[type=text], input[type=submit], input[type=number], input[type=dateTime-local], input[type=submit], label, select{
	font-size: 2em;
}
label {
	margin-right: 1em;
}
