<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:property-placeholder location="classpath:spring4/app.properties" />
    <bean id="header" class="spring4.Header">
<!--     	<constructor-arg value="Word Guess Game App" /> -->
<!--     	<constructor-arg value="danielpm1982" /> -->
<!--     	<constructor-arg value="danielpm1982.com" /> -->
<!--     	<constructor-arg value="danielpm1982.com@domainsbyproxy.com" /> -->
<!--     	<constructor-arg value="${header.appName}" /> -->
<!--     	<constructor-arg value="${header.createdBy}" /> -->
<!--     	<constructor-arg value="${header.site}" /> -->
<!--     	<constructor-arg value="${header.email}" /> -->
		<property name="appName" value="${header.appName}" />
    	<property name="createdBy" value="${header.createdBy}" />
    	<property name="site" value="${header.site}" />
    	<property name="email" value="${header.email}" />
    </bean>
    <bean id="word1" class="spring4.WordGuess">
<!--     	<constructor-arg value="agape" /> -->
    	<constructor-arg value="${words.word1}" />
    	<constructor-arg value="${difficulty.medium}" />
    </bean>
    <bean id="word2" class="spring4.WordGuess">
		<constructor-arg value="${words.word2}" />
		<constructor-arg value="${difficulty.ultra}" />
    </bean>
    <bean id="word3" class="spring4.WordGuess">
		<constructor-arg value="${words.word3}" />
		<constructor-arg value="${difficulty.ultra}" />
    </bean>
    <bean id="word4" class="spring4.WordGuess">
    	<constructor-arg value="${words.word4}" />
    	<constructor-arg value="${difficulty.hard}" />
    </bean>
    <bean id="word5" class="spring4.WordGuess">
		<constructor-arg value="${words.word5}" />
		<constructor-arg value="${difficulty.easy}" />
    </bean>
    <bean id="word6" class="spring4.WordGuess">
		<constructor-arg value="${words.word6}" />
		<constructor-arg value="${difficulty.medium}" />
    </bean>
    <bean id="word7" class="spring4.WordGuess">
		<constructor-arg value="${words.word7}" />
		<constructor-arg value="${difficulty.medium}" />
    </bean>
    <bean id="word8" class="spring4.WordGuess">
		<constructor-arg value="${words.word8}" />
		<constructor-arg value="${difficulty.hard}" />
    </bean>
    <bean id="word9" class="spring4.WordGuess">
		<constructor-arg value="${words.word9}" />
		<constructor-arg value="${difficulty.easy}" />
    </bean>
    <bean id="word10" class="spring4.WordGuess">
		<constructor-arg value="${words.word10}" />
    </bean>
    <bean id="word11" class="spring4.WordGuess">
		<constructor-arg value="${words.word11}" />
    </bean>
    <bean id="word12" class="spring4.WordGuess">
		<constructor-arg value="${words.word12}" />
		<constructor-arg value="${difficulty.medium}" />
    </bean>
    <bean id="word13" class="spring4.WordGuess">
		<constructor-arg value="${words.word13}" />
		<constructor-arg value="${difficulty.easy}" />
    </bean>
    <bean id="word14" class="spring4.WordGuess">
		<constructor-arg value="${words.word14}" />
		<constructor-arg value="${difficulty.ultra}" />
    </bean>
    <bean id="word15" class="spring4.WordGuess">
		<constructor-arg value="${words.word15}" />
		<constructor-arg value="${difficulty.ultra}" />
    </bean>
</beans>
